.page {background-image: url(bckgr.jpg); height: 100vh; background-repeat: no-repeat; background-size:cover;}
.box {background-color: rgb(241, 240, 240);position: absolute;background-position: right;height: 80vh; 
    width: 40%;margin-top:2%;margin-bottom: 2%;margin-left: 57%;margin-right: 5%;box-shadow: 1px 1px 4px 4px rgb(255, 213, 0);}
h1 {color: rgb(219, 180, 41);font-weight: bold; position: relative; left: 5%;}
input[type=text], input[type=email], input[type=tel], input[type=url] {width: 90%; height: 5vh; 
    position: relative; left: 5%; display: block; border-style: solid;border-color: yellow;} 
label {color: grey; position: relative; left: 5%;}
textarea {position: relative; width: 90%; height: 15vh; display: flex; border-style: solid;
    border-color: yellow;}
.button {background-color: rgb(219, 180, 41);position: relative; width: 90%; 
    height: 7vh; display: block; border-style: solid;border-color: yellow; font-size: large; color:white}
    .button:hover {background-color: rgb(176, 97, 41);}

